<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mapper에서 사용할 단축일므을 typeAliases에 기술합니다. -->
<configuration>
 	<typeAliases>

		<typeAlias type="com.team05.command.Reserve_imgVO" alias="Reserve_imgVO"/>
		<typeAlias type="com.team05.command.Review_imgVO" alias="Review_imgVO"/>
		<typeAlias type="com.team05.command.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.team05.command.RoomVO" alias="RoomVO"/>
		<typeAlias type="com.team05.command.ReviewVO" alias="ReviewVO"/>
		
		<typeAlias type="com.team05.command.UserVO" alias="UserVO"/>

		<!-- 공지사항 게시판 VO -->
 		<typeAlias type="com.team05.command.NoticeBoardVO" alias="NoticeBoardVO"/>

 		<typeAlias type="com.team05.command.QuestionVO" alias="QuestionVO"/>
 		<typeAlias type="com.team05.command.ReplyVO" alias="ReplyVO"/>
		
		<typeAlias type="com.team05.command.util.ProductCountVO" alias="ProductCountVO"/>
 	</typeAliases>
 	   
</configuration>
