<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper dtd 작성 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team05.questionboard.mapper.QuestionBoardMapper">

	<insert id="qregist">
		insert into qboard (qtitle,qcontent,regdate,updatedate,qid) values (#{qtitle}, #{qcontent},now() ,now(), #{qid} )
	</insert>
	
	
	<select id="qgetList" resultType="QuestionVO">
		<![CDATA[
		select *
		from (
		    select @rownum:=@rownum+1 as rn,
		    	  a.*
		    from (select *
		          from qboard ]]>
		          
		          <if test="searchType=='qtitle'">where qtitle like concat('%',#{searchName},'%')</if>
		          <if test="searchType=='qcontent'">where qcontent like concat('%',#{searchName},'%')</if>
		          <if test="searchType=='qid'">where qid like concat('%',#{searchName},'%')</if>
		          <if test="searchType== null or searchType == '' ">where 1 = 1</if> 
		          
		 <![CDATA[     order by qno desc)a,(select @rownum :=0) as rnn ) b
		    where rn > (#{pageNum}-1) * #{amount} and rn <= #{pageNum} * #{amount}  ]]>
	</select>
	
	<select id="qgetContent" resultType="QuestionVO">
		select * from qboard where qno = #{qno}
	</select>
	
	<select id="qgetTotal" resultType="int">
		select count(*) as total 
		from qboard
			<if test="searchType=='qtitle'">where qtitle like concat('%',#{searchName},'%')</if>
		    <if test="searchType=='qcontent'">where qcontent like concat('%',#{searchName},'%')</if>
		    <if test="searchType=='qid'">where qid like concat('%',#{searchName},'%')</if>
		    <if test="searchType== null or searchType == '' ">where 1 = 1</if> 
	</select>
	
	
	<update id="qupdate">
		update qboard
		set 
			qtitle = #{qtitle},
			qcontent = #{qcontent},
			updatedate = now()
		where qno = #{qno}
	</update>
	
	<delete id="qdelete">
		delete from qboard where qno = #{qno}
	</delete>
	
	<insert id="replyRegist">
		insert into reply (rcontent,regdate,updatedate,qno,rid) values (#{rcontent},now(),now(),#{qno},#{rid})
	</insert>
	
	<select id="replylist" resultType="ReplyVO">
		<!-- select * from freereply where bno=#{bno} order by rno -->
		<![CDATA[
		select * from 
		(select @rownum:=@rownum+1 as rn,a.* 
		from (select * from reply where qno=#{qno} order by rno desc) a,(select @rownum :=0) as rnn ) b
		where rn >(#{cri.pageNum}-1)*#{cri.amount} and rn<= #{cri.pageNum}*#{cri.amount}
		]]>
		
	</select>
	<select id="replyTotal" resultType="int">
		select count(*) from reply where qno=#{qno}
	</select>
	
	<update id="replyUpdate">
		update reply set rcontent=#{rcontent} where rno=#{rno}
	</update>
	
	<delete id="replydelete">
		delete from reply where rno=#{rno}
	</delete>
	
</mapper>